<!-- fragment 6 start -->
<table class="w-full bg-[#f6f8f9] ">
  <tr>
    <td class="text-[12px] leading-[16px] text-[#000049] px-[40px] mob:px-[20px] pt-[26px]"> {{customText[Comme discuté,|Suite à notre dernier entretien,| ]}} {{customText[j’ai|J’ai]}} le plaisir de vous informer que Pfizer a développé, en collaboration avec des experts, trois vidéos explicatives
      à l’attention de patientes atteintes d’un cancer du sein et de leurs proches. </td>
  </tr>
  <tr>
    <td class="text-[12px] leading-[16px] text-[#000049] px-[40px] pb-[20px] mob:px-[20px] pt-[26px]"> {{customText[Comme discuté,|Suite à notre dernier entretien,| ]}} {{customText[j’ai|J’ai]}} le plaisir de vous informer que Pfizer a développé, en collaboration avec des experts, trois vidéos explicatives
      à l’attention de patientes atteintes d’un cancer du sein et de leurs proches. </td>
  </tr>
</table>

<!-- fragment 6 end -->
