<!-- fragment 4 start -->
<table class="w-full">
  <tr >
    <table class="px-[40px]">
      <tr class="px-[40px]">
        <td class="w-1/4 px-[10px] mob:px-[15px] py-[12px]">
          <img src="logo.png" alt="icon2" width="100px">
        </td>
        <td class="w-3/4 text-[13px] leading-[16px] text-[#000049] px-[40px] pb-[30px] mob:px-[20px] pt-[26px]"> Rep Name <br> Health solution partner <br> <br>
        Mobile:Rep mobile number <br>Email:Rep email address</td>
      </tr>
    </table>
  </tr>

  <tr>
    <td class="w-[300px] px-[40px] mob:px-[15px] py-[12px]">
      <img src="pfizer_logo2.png" alt="icon2" width="300px">
    </td>
  </tr>

</table>
<!-- fragment 4 end -->
