<!-- fragment 1 start -->
<table class="w-full">
  <tr>
    <td class="text-[13px] leading-[16px] text-[#000049] px-[40px] pb-[30px] mob:px-[20px] pt-[26px]"> Afin de les rendre facilement accessibles aux patientes, des cartes avec QR code sont
      disponibles pour leur permettre d’accéder directement à l’ensemble des vidéos</td>
  </tr>
   
  <tr>
    <td align="center" >
      <a href="#" class="text-[16px] leading-[19px] text-[#0008c3] text-left bg-[#ffffff] font-bold border-[#0008c3] border-[2px] 
      border-solid px-[90px] py-[10px] rounded-[50px] mob:px-[0px] py-[10px]" >Demandez ici des cartes pour vos patiente</a>
    </td>
  </tr>

  <tr>
    <td class=" px-[40px] mob:px-[20px] pt-[40px] pb-[20px]">
      <table role="separator" class="w-full">
        <tr>
          <td class="w-full py-base">
            <div class="h-[3px] leading-[3px] bg-[#0000c6]" role="separator">
              &zwj;
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>
<!-- fragment 1 end -->
