<table class="w-full">
  <tr>
    <td class="text-[12px] leading-[16px] text-[#000049] px-[40px] mob:px-[20px] pt-[22px]"> {{customText[Cher|Chère|Bonjour| ]}} {{customText[Docteur|Madame|Professeur|Monsieur| ]}} {{customText[##accLname##|##accFname##| ]}}, </td>
  </tr>
  <tr>
    <td class="text-[12px] leading-[16px] text-[#000049] px-[40px] mob:px-[20px] pt-[26px]"> {{customText[Comme discuté,|Suite à notre dernier entretien,| ]}} {{customText[j’ai|J’ai]}} le plaisir de vous informer que Pfizer a développé, en collaboration avec des experts, trois vidéos explicatives
      à l’attention de patientes atteintes d’un cancer du sein et de leurs proches. </td>
  </tr>
  <tr>
    <td class="text-[12px] leading-[16px] text-[#000049] px-[40px] mob:px-[20px] pt-[26px]">Ces vidéos complètent la série de 17 vidéos déjà existante et réfèrent d’ailleurs à certaines d’entre-elles.   </td>
  </tr>
 
  <tr>
    <td class="px-[40px] mob:px-[20px] pt-[40px]">
      <table role="separator" class="w-full">
        <tr>
          <td class="w-full py-base">
            <div class="h-[3px] leading-[3px] bg-[#0000c6]" role="separator">
              &zwj;
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
